@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin input-tags {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

body {
  font-family: 'Roboto';
}

.main-header {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
  .box {
    width: 160px;
    height: 204px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 0 5px #888;
    margin-bottom: 30px;
    float: left;
    margin: 10px;
    
    .body {
      height: 160px;
    }

    .header {
      color: white;
      background-color: #bb99ff;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      text-align: right;
      font-size: 20px;
      padding: 10px;
    }
  
  }

}

.initials {
  background-color: red;
}


.inner-box {
  display: inline-block;
  
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.day--empty {
  width: 100%;
  height: 100%;
  background-color: #E0D7D7; 
  color: #726B6B;
  font-size: 70px;
  transform: rotate(90deg); 
}

@for $i from 1 through 4 {
  .day--#{$i} {
    width: calc(100% / #{$i});
    height: calc(100% / #{$i});
  }
}

.form-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 2em;
  
  textarea {
    @include input-tags;
    margin-right: 2em;
    resize: none;
    width: 50%;
    height: 400px;
  }

  .yearField {
    display: flex;
    flex-direction: column;

    label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 700;
    }

    #year-input {
      @include input-tags;
      font-weight: 700;
      height: 30px;
    }

    .big-btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
      margin-top: 30px;
    }

    .error-messages {
      padding: 15px;
      margin-top: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
  }

}
